@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto&display=swap');

/* Variables */
:root {
    --font-family: "Montserrat", sans-serif;
    --normal-font: 300;
    --bold-font: 400;
    --bolder-font: 600;
    --bg-color: #424040;
    --primary-color: black;
    --secondary-color: #c9a151;
    --primary-shadow: #8488b3;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: white;
    overflow-x: hidden;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-shadow);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

nav h1 {
    color: lightgray;
}

nav a {
    color: var(--bg-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.three-dots {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: auto;
    margin: auto;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    padding: 4rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: center;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 9.875rem;
    height: 9.25rem;
}

.projects {
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.projects-container p {
    padding: 0.4rem;
}

.project-title {
    margin-top: 0.5rem;
    color: black;
}

.project-description {
    color: black;
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    max-width: 33vw;
    height: 50%;
    flex-direction: column;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card > img {
    max-height: 50%;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--primary-shadow)
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: white;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color)
}

.input-field:focus::placeholder {
    color: transparent;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-shadow);
    border: 2px solid var(--bg-color);
    cursor: pointer;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: whitesmoke;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: white;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .three-dots {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: fit-content;
        width: 20rem;
        margin-top: 15%;
    }

    .bio {
        margin-top: 1rem;
        width: 20.5rem;
    }

    .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }
}

@media screen and (max-width: 420px) {
    .body {
        overflow-x: hidden;
        max-width: 80vw;
    }

    .hero img {
        max-width: auto;
    }

    .bio {
        width: 80vw;
    }

    .contact-form-container {
        max-width: 90vw;
    }

    .project-card  {
        max-width: 80vw;
    }
}

